<header>
        <nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
          <div class="d-flex flex-wrap align-items-center">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <span class="navbar-logo"></span>
              <img src="{{ site.baseurl }}/assets/img/unlaunch-logo.png" height="36px" />
              <span class="ml-2">Documentation</span>
    </a>

          </div>
        
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">
			<li class="nav-item mr-4 mb-2 mb-lg-0">
            <a class="nav-link" href="https://www.unlaunch.io/" target="_blank"><span>Home</span></a>
      </li>
      
      <li class="nav-item mr-4 mb-2 mb-lg-0">
        <a class="nav-link" href="https://blog.unlaunch.io/" target="_blank"><span>Blog</span></a>
      </li>

  <li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link ml-md-4" href="https://app.unlaunch.io/" target="_blank"><span>Log In</span></a>
  </li>
		</ul>
	</div>

	
      </div>


</nav>
</header>
